.wallpaperWrapper {
    height: 250px;
}
.wallpaper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.infoWrapper {
    display: grid;
    grid-template-columns: 180px 400px 90px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px;
    grid-gap: 5px;
    padding: 10px;
    margin: 8px 60px 0;
    background-color: rgb(150,150,200);
    border-radius: 4px;
    color: lightgoldenrodyellow;
}
.fullName {
    grid-column: 2/4;
    grid-row: 1/2;
}

.aboutMeText {
    grid-column: 2/3;
    grid-row: 3/4;
}
