.app-wrapper {
    display: grid;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr ;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
}
.header {
    grid-area: h;
    background-color: rgb(150,200,150);
}
.header img {
    padding-left: 8px;
    height: 100%;
}
.nav {
    grid-area: n;
    background-color: rgb(150,200,150);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 18px;
}
.nav div {
    margin-top: 4px;
}
.nav div:first-child {
    margin-top: 0;
}
.nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.content {
    grid-area: c;
    background-color: rgb(150,200,150);
}
.content img {
    width: 100%;
}
.content .avatar {
    width: 200px;
}